{% load i18n exchange %}
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
	jQuery(function($) {
		var copy_text = '';
		var copy_btn = $('.copy-address-btn');
		var copy_instance = new ClipboardJS('.copy-address-btn', {
		    text: function(trigger) {
		        return copy_text;
		    }
		});

		copy_btn.on('click', function() {
			swal('{% trans "Success!" %}', '{% trans "Wallet address has been copied!" %}', 'success');
		});

		var withdraw_app = new Vue({
			el: '#withdraw-app',
			data: {
				coin: null,
				available_amount: 0.00,
				amount: null,
				address: null,
				password: null,
				code: null,
				is_loading: false,
				errors: {},
				is_br_withdraw: false,
				currency: {},
				scanner: null
			},
			computed: {
				available_amount_text: function() {
					return '{% trans "Available for withdraw:" %}'.replace('{coin}', this.coin);
				}
			},
			methods: {
				new_withdraw: function(item) {
					var data = {
						coin: 'BTC',
						amount: this.amount,
						address: this.address,
						password: this.password,
						code: this.code
					}

					var vm = this;
					vm.is_loading = true;

					$.post('{% url "payments>new-withdraw" %}', data, function(response) {
						if (response.status == 'error') {
							vm.errors = response.errors;
						}
						else if (response.status == 'success') {
							window.location.href = '{% url "core>statement" %}';
						}
						else {
							alert('{% trans "Withdraw error!" %}');
						}
						
						vm.is_loading = false;
					});
				},
				scan: function() {
					var withdraw_amount_modal = $('#withdraw-app');
					withdraw_amount_modal.modal('hide');
					$('#qrcode-scanner-box').show();

					window.scrollTo(0, 0);
					$('html, body').toggleClass('overflow');

					var self = this;
				    self.scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5 });
				    self.scanner.addListener('scan', function (content, image) {
				      self.address = content.replace('bitcoin:', '');
				      $('#qrcode-scanner-box').hide();
				      var withdraw_amount_modal = $('#withdraw-app');
					  withdraw_amount_modal.modal('show');
				    });

				    Instascan.Camera.getCameras().then(function (cameras) {
				      self.cameras = cameras;
				      if (cameras.length > 0) {
				        self.activeCameraId = cameras[cameras.length - 1].id;
				        self.scanner.start(cameras[cameras.length - 1]);
				      } else {
				        console.error('No cameras found.');
				      }
				    }).catch(function (e) {
				      console.error(e);
				    });

				}
			}
		});
		
		var app = new Vue({
			el: '#checking-account-app',
			methods: {
				createAddress: function() {
					swal.showLoading();
					
					var address = '';
					var coin = '{{ account.currency.symbol }}';
					var name = '{{ account.currency.name }}';

					$.post('{% url "payments>get-address" %}', {coin: coin}, function(response) {
						var qrcode_src = 'https://chart.googleapis.com/chart?cht=qr&chs=230x230&chl=' + name.toLowerCase() + ':' + response.address
						address = response.address

						swal({
							title: '<i class="zmdi zmdi-balance-wallet"></i> {% trans "Your {coin} address" %}<br> <img src="{qrcode}">'.replace('{coin}', coin).replace('{qrcode}', qrcode_src), 
							html: response.address,
							confirmButtonClass: 'btn btn-primary copy-address-btn',
							confirmButtonText: '{% trans "Copy address" %}'
						}).then(function() {
							copy_text = address;
							copy_btn.click();
						});
					});
				},
				createWithdraw: function() {
					var withdraw_amount_modal = $('#withdraw-app');
					withdraw_amount_modal.modal('show');
					withdraw_app.available_amount = parseFloat({{ account.deposit|safe }}).toFixed(8);
					withdraw_app.coin = '{{ account.currency.symbol }}';
					withdraw_app.is_br_withdraw = false;
					withdraw_app.currency = {{ account.currency.dict|serialize|safe }};
				}
			}
		});

		$('.close-scanner a').on('click', function (e) {
			e.preventDefault();

			$('#qrcode-scanner-box').hide();
			$('html, body').toggleClass('overflow');
			var withdraw_amount_modal = $('#withdraw-app');
			withdraw_amount_modal.modal('show');
			var videoElement = document.getElementById('preview');
			videoElement.pause();
			videoElement.src ="";
			videoElement.load();
		});
	});
</script>