{% load i18n exchange %}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
	jQuery(function($) {
		var copy_text = '';
		var copy_btn = $('.copy-address-btn');
		var copy_instance = new ClipboardJS('.copy-address-btn', {
		    text: function(trigger) {
		        return copy_text;
		    }
		});

		copy_btn.on('click', function() {
			swal('{% trans "Success!" %}', '{% trans "Wallet address has been copied!" %}', 'success');
		});

		var withdraw_app = new Vue({
			el: '#withdraw-app',
			data: {
				coin: null,
				available_amount: 0.00,
				amount: null,
				address: null,
				password: null,
				code: null,
				is_loading: false,
				errors: {},
				is_br_withdraw: false,
				currency: {}
			},
			computed: {
				available_amount_text: function() {
					return '{% trans "Available {coin} amount for withdraw is:" %}'.replace('{coin}', this.coin);
				}
			},
			methods: {
				new_withdraw: function(item) {
					var data = {
						coin: this.coin,
						amount: this.amount,
						address: this.address,
						password: this.password,
						code: this.code
					}

					var vm = this;
					vm.is_loading = true;

					$.post('{% url "payments>new-withdraw" %}', data, function(response) {
						if (response.status == 'error') {
							vm.errors = response.errors;
						}
						else if (response.status == 'success') {
							window.location.href = '{% url "core>statement" %}';
						}
						else {
							alert('{% trans "Withdraw error!" %}');
						}
						
						vm.is_loading = false;
					});
				}
			}
		});
		
		var app = new Vue({
			el: '#checking-account-app',
			methods: {
				createAddress: function() {
					swal.showLoading();
					
					var address = '';
					var coin = '{{ account.currency.symbol }}';
					var name = '{{ account.currency.name }}';

					$.post('{% url "payments>get-address" %}', {coin: coin}, function(response) {
						var qrcode_src = 'https://chart.googleapis.com/chart?cht=qr&chs=230x230&chl=' + name.toLowerCase() + ':' + response.address
						address = response.address

						swal({
							title: '<i class="zmdi zmdi-balance-wallet"></i> {% trans "Your {coin} address" %}<br> <img src="{qrcode}">'.replace('{coin}', coin).replace('{qrcode}', qrcode_src), 
							html: response.address,
							confirmButtonClass: 'btn btn-primary copy-address-btn',
							confirmButtonText: '{% trans "Copy address" %}'
						}).then(function() {
							copy_text = address;
							copy_btn.click();
						});
					});
				},
				createWithdraw: function() {
					var withdraw_amount_modal = $('#withdraw-app');
					withdraw_amount_modal.modal('show');
					withdraw_app.available_amount = parseFloat({{ account.deposit|safe }}).toFixed(8);
					withdraw_app.coin = '{{ account.currency.symbol }}';
					withdraw_app.is_br_withdraw = false;
					withdraw_app.currency = {{ account.currency.dict|serialize|safe }};
				}
			}
		});
	});
</script>