{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{% url "core>logout" %}">
                <legend>{% trans "Log out" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    <p style="margin-bottom: 20px; margin-top: 0;">{% trans "Are you sure you want to log out?" %}</p>
                    <button type="submit" class="btn btn-pink btn-round tx-14">{% trans "Log out" %}</button>
                    <a href="{% url "xfactor>select-account" %}" class="tx-14 btn btn-primary btn-round">{% trans "Go back" %}</a>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}