{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{% url "core>reset-token" uidb36=uidb36 token=token %}" novalidate>
                <legend>{% trans "Set your new password" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {% with WIDGET_ERROR_CLASS='parsley-error' %}
                        {% for field in form %}
                            {% if not field.is_hidden %}
                                <div class="form-group row">
                                    <div class="col-12">
                                        {% render_field field class="form-control" placeholder=field.label %}
                                        {% if field.errors %}
                                            <ul class="parsley-errors-list filled">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}