{% extends "core/index.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}


{% block content %}
    <div class="row">
      <div class="col-md-4">
        <form method="POST" enctype="multipart/form-data" class="card-box m-t-20" id="formUpload">
          <h6><i class="zmdi zmdi-image"></i> {% trans "My Avatar" %}</h6>
          <hr>
          <div class="row">
            <div class="col-md-8">
              <p>{% trans "Select a new avatar image using the field below" %}</p>
              {% csrf_token %}

              {{ form_avatar.form_name }}
              <input type="file" name="avatar">

              <div class="m-t-20">
                <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
              </div>
            </div>

            <div class="col-md-4 text-right">
                {% if not request.user.avatar %}
                    <img src="https://api.adorable.io/avatars/100/abott@adorable.png" class="rounded-circle">
                {% else %}
                    <img src="{% thumbnail request.user.avatar 100x100 crop %}" class="rounded-circle">
                {% endif %}
            </div>
          </div>
        </form>

        <form method="POST" class="card-box" novalidate>
          <h6><i class="zmdi zmdi-lock"></i> {% trans "Change My Password" %}</h6>
          <hr>

          {% csrf_token %}
            {% with WIDGET_ERROR_CLASS='parsley-error' %}
                {% for field in form_change_password %}
                    {% if not field.is_hidden %}
                        <div class="form-group row">
                            <div class="col-12">
                                {{ field.label_tag }}
                                {% render_field field class="form-control" placeholder=field.label %}
                                {% if field.errors %}
                                    <ul class="parsley-errors-list filled">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            {% endwith %}

            <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
          </form>
      </div>

      <div class="col-md-8">
        <form method="POST" class="card-box m-t-20" novalidate>
          <h6><i class="zmdi zmdi-balance"></i> {% trans "Bank Account" %}</h6>
          <hr>
          {% csrf_token %}
          <p>
            {% trans "This bank account must belong to" %} <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>. <a href="#">{% trans "Click here to know why." %}</a><br>
            {% trans "This bank account will be used for the withdrawals made with the BRL account" %}.
          </p>

          <div class="row">
            {% with WIDGET_ERROR_CLASS='parsley-error' %}
              {% for field in form_bank_account %}
                  {% if not field.is_hidden %}
                      <div class="form-group col-md-6">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" placeholder=field.label %}
                        {% if field.errors %}
                            <ul class="parsley-errors-list filled">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                      </div>
                  {% else %}
                      {{ field }}
                  {% endif %}
              {% endfor %}
          {% endwith %}
          </div>

          <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        </form>
      </div>
    </div>
{% endblock %}