{% extends "core/index.html" %}

{% load i18n widget_tweaks thumbnail static %}

{% block page_title %}
    {% trans "Settings" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}


{% block content %}
    {% include "back-button.html" with margin_top='30px' %}

    <div class="alert alert-info">
      <h5 class="uppercase b">{% trans "Fill your data to continue" %}</h5>
      <p>{% trans "Please fill your personal and address data for continue to next step and get access to your Xfactor account" %}</p>
    </div>

    <div class="page-big-title">
      <h2 class="uppercase">{% trans "Settings" %}</h2>
      <p class="tx-14">{% trans "Here you can change your Xfactor settings as you prefer." %}</p>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <form method="POST" enctype="multipart/form-data" class="white-box white-box-border" id="formUpload">
          <h6><strong class="uppercase text-blue"><i class="zmdi zmdi-image"></i> {% trans "My Avatar" %}</strong></h6>
          <hr>
          <p class="tx-14">{% trans "Select a new avatar image using the field below" %}</p>
          <div class="row">
            <div class="col-md-5 text-right">
                {% if not request.user.avatar %}
                    <a href="#" id="choose-avatar"><img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle img-fluid"></a>
                {% else %}
                    <a href="#" id="choose-avatar"><img src="{% thumbnail request.user.avatar 100x100 crop %}" class="rounded-circle"></a>
                {% endif %}
            </div>
            <div class="col-md-7">
              {% csrf_token %}

              {{ form_avatar.form_name }}
              <input type="file" name="avatar" id="choose-avatar-input" style="opacity: 0;">

              <div class="mt-20">
                <button class="btn btn-pink btn-round btn-sm b" type="submit">{% trans "Update" %}</button>
              </div>
            </div>
          </div>
        </form>

        <form method="POST" class="white-box white-box-border" novalidate>
          <h6><strong class="uppercase text-blue"><i class="zmdi zmdi-lock"></i> {% trans "Change My Password" %}</strong></h6>
          <hr>

          {% csrf_token %}
            
          {% for field in form_change_password %}
              {% include "core/forms/field.html" with field=field css_classes='tx-14' %}
          {% endfor %}
            

            <button class="btn btn-pink btn-round btn-sm b" type="submit">{% trans "Save" %}</button>
          </form>
      </div>

      <div class="col-md-8">
        <form method="POST" class="white-box white-box-border m-t-20" novalidate>
          <h6><strong class="uppercase text-blue"><i class="zmdi zmdi-balance"></i> {% trans "Personal Data" %}</strong></h6>
          <hr>
          {% csrf_token %}

          <input type="hidden" name="form_name" value="user">

          <div class="row">
              {% for field in form_user %}
                  {% if not field.is_hidden %}
                      <div class="col-md-6">
                        {% include "core/forms/field.html" with field=field css_classes='tx-14' %}
                      </div>
                  {% else %}
                      {{ field }}
                  {% endif %}
              {% endfor %}
          </div>

          <button class="btn btn-pink btn-round btn-sm b" type="submit">{% trans "Save" %}</button>
        </form>

        <form method="POST" class="white-box white-box-border m-t-20" novalidate>
          <h6><strong class="uppercase text-blue"><i class="zmdi zmdi-balance"></i> {% trans "Address" %}</strong></h6>
          <hr>
          {% csrf_token %}
          
          {% with WIDGET_ERROR_CLASS='parsley-error' %}
              {% include "core/forms/address.html" with form=form_address %}
          {% endwith %}
          <button class="btn btn-pink btn-round btn-sm b" type="submit">{% trans "Save" %}</button>
        </form>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.3.4/sweetalert2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  {% include "core/scripts/address.vue.html" %}
  <script>
    jQuery(function($) {
      $('#choose-avatar').click(function(e) {
        e.preventDefault();
        $('#choose-avatar-input').click();
      });
    });
  </script>
{% endblock %}