{% extends "core/index.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}


{% block content %}
    <div class="row">
      <div class="col-md-6">
        <h2 class="page-title"><i class="zmdi zmdi-settings"></i> {% trans "Account Settings" %}</h2>

        <form method="POST" enctype="multipart/form-data" class="card-box" id="formUpload" action="{% url "core>avatar" %}">
          <div class="row">
            <div class="col-md-8">
              <label><i class="zmdi zmdi-image"></i> {% trans "Change your avatar image" %}</label>
              <p>{% trans "Select a new avatar image using the field below" %}</p>
              {% csrf_token %}

              {% for field in form_avatar %}
                {{ field }}
              {% endfor %}
            </div>

            <div class="col-md-4 text-right">
                {% if not request.user.avatar %}
                    <img src="https://api.adorable.io/avatars/100/abott@adorable.png" class="rounded-circle">
                {% else %}
                    <img src="{% thumbnail request.user.avatar 100x100 crop %}" class="rounded-circle">
                {% endif %}
            </div>
          </div>
          
          <div class="m-t-20">
            <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <h5 class="page-title"><i class="zmdi zmdi-balance"></i> {% trans "Bank Account Settings" %}</h5>

        <form method="POST" class="card-box" novalidate>
          {% csrf_token %}
        <p>
          {% trans "This bank account must belong to" %} <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>. <a href="#">{% trans "Click here to know why." %}</a><br>
          {% trans "This bank account will be used for the withdrawals made with the BRL account" %}.
        </p>
          <hr>

          {% with WIDGET_ERROR_CLASS='parsley-error' %}
              {% for field in form_bank_account %}
                  {% if not field.is_hidden %}
                      <div class="form-group row">
                          <div class="col-12">
                              {{ field.label_tag }}
                              {% render_field field class="form-control" placeholder=field.label %}
                              {% if field.errors %}
                                  <ul class="parsley-errors-list filled">
                                      {% for error in field.errors %}
                                          <li>{{ error }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                          </div>
                      </div>
                  {% else %}
                      {{ field }}
                  {% endif %}
              {% endfor %}
          {% endwith %}

          <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        </form>
      </div>
    </div>
{% endblock %}