[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django-widget-tweaks = {git = "https://github.com/jazzband/django-widget-tweaks/", editable = true}
django-session-security = {git = "https://github.com/yourlabs/django-session-security/", editable = true}
exchange-core = {git = "https://neosacode@bitbucket.org/neosacode/exchange-core.git", editable = true}
exchange-payments = {git = "https://neosacode@bitbucket.org/neosacode/exchange-payments.git", editable = true}
exchange-orderbook = {git = "https://neosacode@bitbucket.org/neosacode/exchange-orderbook.git", editable = true}
uwsgi = "*"


[dev-packages]

