--process-dependency-links -e git+https://neosacode@bitbucket.org/neosacode/exchange-core.git#egg=exchange_core
--process-dependency-links -e git+https://neosacode@bitbucket.org/neosacode/exchange-payments.git#egg=exchange_core
--process-dependency-links -e git+https://neosacode@bitbucket.org/neosacode/exchange-orderbook.git#egg=exchange_core