{% extends "core/index.html" %}
{% load i18n %}

{% block content %}
	{% include "payments/withdraw.html" %}
	
	<div id="checking-account-app">
		<h6 class="page-title">{% trans "Checking Account" %}</h6>

		<div class="row">
			<div class="col-md-3">
				<a href="{% url "core>statement" %}" class="card card-box text-center">
					<h2>{% trans "Statement" %}</h2>
				</a>
			</div>
			<div class="col-md-3">
				<a @click.prevent="createAddress('{{ account.currency.symbol }}', '{{ account.currency.name }}')" href="#" class="card card-box text-center">
					<h2>{% trans "Receive" %}</h2>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="card card-box text-center">
					<h2>{% trans "Withdraw" %}</h2>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="card card-box text-center">
					<h2>{% trans "Transfer" %}</h2>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="card card-box text-center">
					<h2>{% trans "Invest" %}</h2>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="card card-box text-center">
					<h2>{% trans "Pay Bill" %}</h2>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="card card-box text-center">
					<h2>{% trans "My Card" %}</h2>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="card card-box text-center">
					<h2>{% trans "Loans" %}</h2>
				</a>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
    
    {% include "accounts/scripts/checking.vue.html" with wallets=wallets %}

{% endblock %}