{% extends "core/index.html" %}
{% load static i18n exchange %}

{% block page_title %}
    {% trans "Checking Account" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/minha-carteira.css" %}">

    <style>
        #qrcode-scanner-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 9999999999;
            color: #FFF;
            display: none;
        }

        #qrcode-scanner-box h2 {
            padding: 20px 0;
        }

        #qrcode-scanner-box #preview {
            width: 90%;
            max-width: 850px;
            object-fit: fill;
        }

        .close-scanner a {
            font-size: 40px;
            font-weight: bold;
        }

        html.overflow, body.overflow {
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="qrcode-scanner-box" class="text-center">
        <h2 class="b"><i class="fas fa-qrcode"></i> {% trans "POSITION THE QR CODE" %}</h2>
        <div id="qrcode-app">
            <video id="preview"></video>
        </div>

        <div class="text-center close-scanner">
            <a href="#" class="text-pink"><i class="far fa-times-circle"></i> {% trans "Back" %}</a>
        </div>
    </div>
    

    <div id="withdraw_app">
	   {% include "payments/withdraw.html" %}
    </div>

	<div class="row">
         <div class="conteudo-1 col-md-8" id="checking-account-app">
            {% include "back-button.html" with margin_top='50px' %}
            
            <div class="box-1">
                <img src="{% static "img/setas.jpg" %}" alt="">
                <h2>{% trans "Checking Account" %}</h2>
            </div>
            <div class="box-2">
                <img src="{% static "img/bit-grande-rosa.png" %}" alt="">
                <h3><strong>{{ user_checking_account.deposit }} BTC</strong> {% trans "available balance" %}</h3>
            </div>
            <div class="box-3 row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="item-rosa">
                        <img src="{% static "img/bit-rosa-grande-2.png" %}" alt="">
                        <a href="#" @click.prevent="createAddress()"><h4>{% trans "Receive" %}</h4></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="item">
                        <img src="{% static "img/bit-grande-azul-2.png" %}" alt="">
                        <a href="" @click.prevent="createWithdraw()"><h4>{% trans "Transfer" %}</h4></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="item">
                        <img src="{% static "img/bit-grande-azul-2.png" %}" alt="">
                        <a href="{% url "investment>credit-line" %}"><h4>{% trans "Credit Line" %}</h4></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="item">
                        <img src="{% static "img/bit-grande-azul-2.png" %}" alt="">
                        <a href="{% url "investment>plans" %}"><h4>{% trans "Invest" %}</h4></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="item">
                        <img src="{% static "img/cifra-grande.png" %}" alt="">
                        <a href="{% url "boleto>pay" %}"><h4>{% trans "Pay Bill" %}</h4></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="item">
                        <img src="{% static "img/bit-grande-azul-2.png" %}" alt="">
                        <a href="{% url "core>statement" %}"><h4>{% trans "Statement" %}</h4></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="item">
                        <img src="{% static "img/cifra-grande.png" %}" alt="">
                        <a href="{% url "xfactor>my-card" %}"><h4>{% trans "My Card" %}</h4></a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="item">
                        <img src="{% static "img/bit-grande-azul-2.png" %}" alt="">
                        <a href=""><h4>{% trans "Sell BTC" %}</h4></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="conteudo-2 col-md-4">
            {% get_current_language as LANGUAGE_CODE %}
            
            {% with "img/banners/3_"|add:LANGUAGE_CODE|add:'.png' as banner_url %}
                <img src="{% static banner_url %}" alt="">
            {% endwith %}
        </div>   
    </div>

{% endblock %}

{% block scripts %}
    
    {% include "accounts/scripts/checking.vue.html" with account=account %}

{% endblock %}