{% extends "core/index.html" %}
{% load static i18n l10n %}

{% block page_title %}
    {% trans "Investments Account" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/investimentos.css" %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="conteudo-1 col-md-8">
        {% include "back-button.html" with margin_top='50px' %}

        <div class="row box-1">
            <div class="col-md-4 codigo">
                <img src="https://chart.googleapis.com/chart?cht=qr&chs=230x230&chl={% url "investment>signup" %}" alt="">
                <a href="#" class="text-center btn-block mt-20 btn btn-link"><i class="fas fa-link"></i> {% trans "Copy my referrer link" %}</a>
            </div>
            <div class="col-md-8 texto-codigo">
                <h4 class="title" style="margin-top: 0;">{% trans "My Investment" %}</h4>
                <h3><span>{% trans "Current investment plan:" %}</span> {{ charge.plan_grace_period.plan.name }}</h3>
                <h3><span>{% trans "Invest amount:" %}</span> {{ charge.amount }} BTC</h3>
                <h3><span>{% trans "Selected lack:" %}</span> {{ charge.plan_grace_period.grace_period.months }} {% trans "months" %}</h3>
                <h3><span>{% trans "Income percent:" %}</span> {{ charge.plan_grace_period.income_percent|floatformat:0 }}% {% trans "per month" %}</h3>

                <h4 class="title">{% trans "My Incomes" %}</h4>
                <h3><span>{% trans "Available for withdraw:" %}</span> {{ user_investment_account.deposit }} BTC</h3>
                <h3><span>{% trans "Your total incomes:" %}</span> 0.02388800 BTC</h3>

                <h4 class="title">{% trans "My Comissions" %}</h4>
                <h3><span>Graduação atual: </span>Investiment promoter</h3>
                <h3><span>Total em Comissões: </span>0.04500000 BTC</h3>
                <h3><span>Comissões do mês: </span>0.00367000 BTC</h3>
                <h3><span>Comissões de hoje: </span>0.07270 BTC</h3>
            </div>

        </div>

        <div class="box-2 mt-20">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url "investment>plans" %}" class="btn btn-pink btn-lg btn-block mb-10"><i class="fas fa-upload"></i> {% trans "REINVEST" %}</a>
                </div>
                <div class="col-md-6">
                    <a href="" class="btn btn-primary btn-lg btn-block mb-10"><i class="fas fa-calendar-alt"></i> {% trans "CHANGE LACK" %}</a>
                </div>
                <div class="col-md-6">
                    <a href="" class="btn btn-primary btn-lg btn-block mb-10"><i class="fab fa-btc"></i> {% trans "TO WITHDRAW INCOMES" %}</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url "investment>my-customers" %}" class="btn btn-primary btn-lg btn-block mb-10"><i class="fas fa-users"></i> {% trans "MY CUSTOMERS" %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="conteudo-2 col-md-4">
        <img src="{% static "img/banner-credit.jpg" %}" alt="">
    </div>
</div>

<h2 class="chart-investments-title"><i class="fas fa-chart-line"></i> {% trans "Follow your investment" %}</h2>

<canvas id="incomes-chart" height="120" style="background-color: #FFF; padding: 30px; box-sizing: border-box;"></canvas>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script>
        jQuery(function($) {
            var ctx = $("#incomes-chart");
            var income_chart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [
                    {% for income in incomes %}
                        "{{ income.date|date:'d/m' }}",
                    {% endfor %}
                ],
                datasets: [
                  {
                    label: '{% trans "Last 30 days" %}',
                    data: [
                        {% for income in incomes %}
                            {{ income.amount }},
                        {% endfor %}
                    ]
                  }
                ]
              }
            });
        });
    </script>
    
{% endblock %}