{% extends "core/index.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans "Pay Bill" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}

{% block head %}
    <style>
        #boleto-svg svg {
            max-height: 40px;
        }
    </style>

    <link rel="stylesheet" href="{% static "css/new-payment.css" %}">
{% endblock %}

{% block content %}
	{% include "back-button.html" with margin_top='30px' %}

	<div class="alert alert-danger">
		<strong class="tx-14">{% trans "Request your Xfactor card to access this feature" %}:</strong>&nbsp;&nbsp; <a href="{% url "xfactor>request-card" %}">Solicitar Cartão</a>
	</div>

	<div class="row">
		<div class="col-md-5">
			<div class="box-3">
				<div class="margem">
					<h2 class="b tx-20">{% trans "NEW PAYMENT" %}</h2>
					<p>{% trans "Request new payment" %}</p>
					<form action="">
						<input type="text" placeholder="{% trans "Barcode" %}">
						<input type="text" placeholder="{% trans "Your name or campany name" %}">
						<input type="text" placeholder="{% trans "CPF/CNPJ" %}">
						<button>{% trans "NEXT" %}</button>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-7">
			<div class="box-2">
				<div class="margem">
					<h2 class="b tx-20">{% trans "CHECK THE DATA AND PAY YOUR BANK SLIP" %}</h2>
					<p>{% trans "Check if the bank slip data below is correct and click on the right pay button" %}</p>
					<img src="{% static "img/barras.png" %}" alt="">
					<form action="">
						<div class="row">
							<div class="col-md-4">
								<input type="text" class="form-control" placeholder="{% trans "Bank name" %}">
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control" placeholder="{% trans "Due date" %}">
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control" placeholder="{% trans "Amount" %}">
							</div>
						</div>
						<button>{% trans "PAY BANK SLIP" %}</button>
					</form>
				</div>
			</div>
		</div>
	</div>	



{% endblock %}