{% extends "core/index.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans "Pay <span>Bill</span>" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor - Pay Bill" %}
{% endblock %}

{% block head %}
    <style>
        #boleto-svg svg {
            max-height: 40px;
        }
    </style>

    <link rel="stylesheet" href="{% static "css/new-payment.css" %}">
{% endblock %}

{% block content %}

	<div class="box-3">
		<div class="margem">
			<h2>NEW PAYMENT</h2>
			<p>Solicitar um novo pagamento</p>
			<form action="">
				<input type="text" placeholder="CÓDIGO DE BARRAS">
				<input type="text" placeholder="YOU NAME OR COMPANY">
				<input type="text" placeholder="NÚMERO CARTÃO DE CRÉDITO">
				<button>PRÓXIMO</button>
			</form>
		</div>
	</div>

	<div class="box-2">
		<div class="margem">
			<h2>CHECK THE DATA AND PAY YOUR BANK SLIP</h2>
			<p>Check if the bank slip data below is correct and click on the right pay button</p>
			<img src="{% static "img/barras.png" %}" alt="">
			<form action="">
				<input type="text" placeholder="BANK NAME">
				<input type="text" placeholder="DUE DATE">
				<input type="text" placeholder="00.00">
				<button>PAY BANK SLIP</button>
			</form>
		</div>
	</div>


{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
<script src="{% static "js/vue-the-mask.js" %}"></script>
<script src="{% static "js/v-money.js" %}"></script>
<script src="{% static "js/boleto.min.js" %}"></script>

<script>
	Vue.use(VMoney);
	Vue.use(VueTheMask);

	var boleto = new Vue({
		el: '#boleto',
		data: {
			barcode: '',
			amount: '',
			bank_name: '',
			expiration_date: '',
			pretty_amount: 0,
			checksum: 0,
			payer_name: '',
			payer_document: '',
			show_form: ''
		},
		watch: {
			barcode: function() {
				if (this.barcode.length >= 40) {
					$('#boleto-svg').empty();

					boleto = new Boleto(this.barcode);
					boleto.toSVG('#boleto-svg');

					if (this.bank_name != 'Unknown' && this.bank_name != '') {
						console.log(this.bank_name);
						this.amount = boleto.amount();
						this.bank_name = boleto.bank();
						this.pretty_amount = boleto.prettyAmount();
						this.expiration_date = boleto.expirationDate().toISOString().slice(0, 10).split('-').reverse().join('/');
						this.checksum = boleto.checksum();
						this.show_form = false;
					} 
					else {
						this.show_form = true;
						this.bank_name = '';
						this.expiration_date = '';
						this.amount = '';
					}

					$('#pay-boleto').show();					
				} else {
					$('#pay-boleto').hide();	
					this.amount = '';
				}
			}
		},
		methods: {
			validate_barcode: function() {
				if (this.barcode.length >= 40 && (this.bank_name == 'Unknown' || this.bank_name == '')) {
					this.show_form = true;
					this.bank_name = '';
					this.expiration_date = '';
					this.amount = '';

					swal('{% trans "Bank Slip Not Found" %}', '{% trans "Please manually type below your bank slip data" %}', 'info');
				}
			},
			create: function() {
				if (!this.payer_name) {
					swal('{% trans "Missing Data!" %}', '{% trans "Please type your name or your company name" %}', 'error');
				}
				else if (!this.payer_document) {
					swal('{% trans "Missing Data!" %}', '{% trans "Please type your CPF or CNPJ number" %}', 'error');
				}
				else {
					var data = {
                    	barcode: this.barcode,
						amount: this.amount,
						bank_name: this.bank_name,
						expiration_date: this.expiration_date.replace('/', ''),
						checksum: this.checksum,
						payer_name: this.payer_name,
						payer_document: this.payer_document
                    };

                    console.log(this.expiration_date);

					$.post('{% url "boleto>create" %}', data, function(response) {
                        swal({title: 'Message', text: response.message, type: response.status}, function() {
                            if (response.status == 'success') {
                            	window.location.href = '{% url "boleto>pay" %}?' + Date.now();
                            }
                        });
                    });
				}
			}
		}
	});
</script>

{% endblock %}