{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load lang %}
{% load exchange %}
{% load humanize %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>X-Factor</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tablesaw@3.0.9/dist/tablesaw.css">
    <link rel="stylesheet" href="{% static "css/geral.css" %}">
    <link rel="stylesheet" href="{% static "css/plugins.css" %}">
        <script>
function mostra(theId){
var theArray= new Array('item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7', 'item8');
w=document.getElementById(theId)
if(w.style.display=="block"){w.style.display='none';}else{ 

 
 
       for(i=0; i<theArray.length; i++){
            if(theArray[i] == theId){
                w.style.display='block';
            }else{
                document.getElementById(theArray[i]).style.display='none';
            }
      }
      }
      
}
</script>

    <!-- Flags CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    {% include "core/head.html" %}
    {% block head %}{% endblock %}
</head>
<body>
    
    <header>
        <div class="back-menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo"><img src="{% static "img/logo.png" %}" alt=""></div>
                    </div>
                    <div class="col-md-3">
                        <!-- <ul>
                            <li><a href="index.php"><img src="{% static "img/logo-1.png" %}" alt=""><span>Dashboard</span></a></li>
                            <li><a href="investing.php"><img src="{% static "img/logo-2.png" %}" alt=""><span>Investing Plans</span></a></li>
                            <li><a href="credit.php"><img src="{% static "img/logo-3.png" %}" alt=""><span>Credit Line</span></a></li>
                            <li><a href="statement.php"><img src="{% static "img/logo-4.png" %}" alt=""><span>Statement</span></a></li>
                            <li><a href="customers.php"><img src="{% static "img/logo-5.png" %}" alt=""><span>Customers</span></a></li>
                        </ul> -->
                    </div>
                    <div class="col-3 col-md-2">
                        <div class="dropdown show change-language-dropdown float-right">
                          <a class="btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% get_current_language as LANGUAGE_CODE %}
                            <span class="flag-icon {{ LANGUAGE_CODE|language_css_class }}"></span>
                          </a>

                          {% get_available_languages as LANGUAGES %}
                          {% get_language_info_list for LANGUAGES as languages %}

                          <div class="dropdown-menu">
                            <div id="change-language-app">
                                <form action="{% url 'set_language' %}" method="post" id="change-language-form">{% csrf_token %}
                                    <input type="hidden" name="language" v-model="language">
                                    {% for language in languages %}
                                    <a href="#" @click.prevent="set_language('{{ language.code }}')" class="dropdown-item">
                                        <span class="flag-icon {{ language.code|language_css_class }}"></span>
                                        {{ language.name_local }}
                                    </a>
                                    {% endfor %}
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-9 col-md-4">
                        <div class="settings">
                            <ul>
                                <li>
                                    <div class="dropdown show">
                                        <a href="#" class="text-white" data-toggle="dropdown">
                                            <table>
                                                <tr>
                                                    <td><img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid rounded-circle" width="50" alt=""></td>
                                                    <td><span>{% trans "Welcome: " %}{{ request.user.first_name }}</span> <i class="fa fa-angle-down"></i></td>
                                                </tr>
                                            </table>
                                        </a>

                                        <div class="dropdown-menu">
                                            <a href="{% url "core>settings" %}" class="dropdown-item">{% trans "Settings" %}</a>
                                            <a href="{% url "two_factor:profile" %}" class="dropdown-item">{% trans "Two Factor Authentication" %}</a>
                                            <a href="{% url "core>documents" %}" class="dropdown-item">{% trans "Documents" %}</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="{% url 'core>logout' %}" class="text-white" data-toggle="tooltip" data-placement="bottom" title="{% trans "Logout from my account" %}"><i class="fas fa-sign-out-alt"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="box-nome">
            <div class="container">
                <div class="bread row">
                    <div class="box-1 col-md-4">
                        <h1 class="tx-16"><img src="{% static "img/icone-rosa-3.png" %}" alt=""> {% block page_title %}{% endblock %}</span> <strong>{% block page_subtitle %}{% endblock %}</strong></h1 class="tx-16">
                    </div>
                    <div class="box-2 col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="imagem-1" href="{% url "xfactor>investment" %}">
                                    <img src="{% static "img/bit-grande-azul.png" %}" alt="">
                                    <div class="conteudo-botao">
                                        <h2>{% trans "Investment Account" %}</h2>
                                        <h3>$ {{ user_investment_account.usd_balance|floatformat:2|intcomma }}</h3>
                                        <h4>{{ user_investment_account.balance }} BTC</h4>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="imagem-2" href="{% url "xfactor>checking" %}">
                                    <img src="{% static "img/bit-grande-rosa.png" %}" alt="">
                                    <div class="conteudo-botao">
                                        <h2>{% trans "Checking Account" %}</h2>
                                        <h3>$ {{ user_checking_account.usd_balance|floatformat:2|intcomma }}</h3>
                                        <h4>{{ user_checking_account.balance }} BTC</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="content content-container">
            <div class="container">
                <div class="clearfix"></div>

                {% if messages %}
                <div class="messages mt-50">
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}><strong>{{ message }}</strong></div>
                    {% endfor %}
                </div>
                {% endif %}
                
                {% block content_before %}{% endblock %}

                {% block content %}{% endblock %}

                {% block content_after %}{% endblock %}
            </div>
        </div>

    </main>

    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tablesaw@3.0.9/dist/tablesaw.jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tablesaw@3.0.9/dist/tablesaw-init.js"></script>
    <script>
        jQuery(function() {
            $('[data-toggle="tooltip"]').tooltip({});
        });
    </script>
    {% include "core/scripts.html" %}
    {% block scripts %}{% endblock %}
</body>
</html>