{% extends "core/index.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}


{% block content %}
    <div class="row">
      <div class="col-md-4">
        <form method="POST" enctype="multipart/form-data" class="white-box m-t-20" id="formUpload">
          <h6><i class="zmdi zmdi-image"></i> {% trans "My Avatar" %}</h6>
          <hr>
          <div class="row">
            <div class="col-md-8">
              <p>{% trans "Select a new avatar image using the field below" %}</p>
              {% csrf_token %}

              {{ form_avatar.form_name }}
              <input type="file" name="avatar">

              <div class="m-t-20">
                <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
              </div>
            </div>

            <div class="col-md-4 text-right">
                {% if not request.user.avatar %}
                    <img src="https://api.adorable.io/avatars/100/abott@adorable.png" class="rounded-circle">
                {% else %}
                    <img src="{% thumbnail request.user.avatar 100x100 crop %}" class="rounded-circle">
                {% endif %}
            </div>
          </div>
        </form>

        <form method="POST" class="white-box" novalidate>
          <h6><i class="zmdi zmdi-lock"></i> {% trans "Change My Password" %}</h6>
          <hr>

          {% csrf_token %}
            
          {% for field in form_change_password %}
              {% include "core/forms/field.html" with field=field %}
          {% endfor %}
            

            <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
          </form>
      </div>

      <div class="col-md-8">
        <form method="POST" class="white-box m-t-20" novalidate>
          <h6><i class="zmdi zmdi-balance"></i> {% trans "Bank Account" %}</h6>
          <hr>
          {% csrf_token %}
          <p>
            {% trans "This bank account must belong to" %} <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>. <a href="#">{% trans "Click here to know why." %}</a><br>
            {% trans "This bank account will be used for the withdrawals made with the BRL account" %}.
          </p>

          <div class="row">
              {% for field in form_bank_account %}
                  {% if not field.is_hidden %}
                      <div class="col-md-6">
                        {% include "core/forms/field.html" with field=field %}
                      </div>
                  {% else %}
                      {{ field }}
                  {% endif %}
              {% endfor %}
          </div>

          <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        </form>
      </div>
    </div>
{% endblock %}