{% extends "core/index.html" %}

{% load i18n thumbnail static bootstrap_pagination %}

{% block page_title %}
    {% trans "Statement" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}


{% block head %}
	<style>
		.tx-12 {
			font-size: 12px;
		}
	</style>

  <link rel="stylesheet" href="{% static "css/statement.css" %}">
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="conteudo-1 col-12">
      {% include "back-button.html" with margin_top='0' %}

      <div class="box-2">
        <div class="item">
          <img src="{% static "img/credit-1.png" %}" alt="">
          <div>
            <p>{% trans "Total Withdraw" %}</p>
            <p><span>{{ user_checking_account.total_withdraw|floatformat:8 }}</span></p>
          </div>
        </div>
        <div class="item">
          <img src="{% static "img/statement-4.png" %}" alt="">
          <div>
            <p>{% trans "Total Incomes" %}</p>
            <p><span>{{ user_checking_account.total_income|floatformat:8 }}</span></p>
          </div>
        </div>
        <div class="item">
          <img src="{% static "img/statement-2.png" %}" alt="">
          <div>
            <p>{% trans "Total Invested" %}</p>
            <p><span>{{ user_investment_account.reserved }}</span></p>
          </div>
        </div>
        <div class="item">
          <img src="{% static "img/statement-3.png" %}" alt="">
          <div>
            <p>{% trans "Total Comissions" %}</p>
            <p><span>{{ total_comission|floatformat:8 }}</span></p>
          </div>
        </div>
      </div>

      <div class="box-3">
        <div class="page-big-title">
          <h2 class="uppercase">{% trans "Statement" %}</h2>
          <p>{% trans "Here you can follow your checking and investment accounts movements." %}</p>
        </div>
      </div>
      <div class="box-4">
          <div class="white-box white-box-border">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active uppercase" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans "Transactions" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link uppercase" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans "Incomes" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link uppercase" id="reinvestments-tab" data-toggle="tab" href="#reinvestments" role="tab" aria-controls="profile" aria-selected="false">{% trans "Reinvestments" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link uppercase" id="contact-tab" data-toggle="tab" href="#comissions" role="tab" aria-controls="contact" aria-selected="false">{% trans "Comissions" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link uppercase" id="contact-tab" data-toggle="tab" href="#withdrawals" role="tab" aria-controls="withdrawals" aria-selected="false">{% trans "Transfers" %}</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="table-wrapper">
                <table class="table tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
                  <thead>
                    <tr>
                      <th>{% trans "Date" %}</th>
                      <th>{% trans "Description" %}</th>
                      <th>{% trans "Amount" %}</th>
                      <th>{% trans "Currency" %}</th>
                      <th>{% trans "Account Type" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in statement %}
                    <tr>
                      <td>{{ item.created|date:"SHORT_DATE_FORMAT" }}</td>
                      <td>{{ item.description }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{% trans item.account.currency.symbol %}</td>
                      <td>{% trans item.account.currency.type_title %}</td>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="clearfix"></div> 
              {% bootstrap_paginate statement url_param_name='statement_page' %}
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="table-wrapper">
                <table class="table tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
                  <thead>
                    <tr>
                      <th>{% trans "Date" %}</th>
                      <th>{% trans "Amount" %}</th>
                      <th>{% trans "Currency" %}</th>
                      <th>{% trans "Plan" %}</th>
                      <th>{% trans "Lack" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in incomes %}
                    <tr>
                      <td>{{ item.created|date:"SHORT_DATE_FORMAT" }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{% trans item.account.currency.symbol %}</td>
                      <td>{{ item.account.investments.first.plan_grace_period.plan.name }}</td>
                      <td>{{ item.account.investments.first.plan_grace_period.grace_period.months }} {% trans "months" %}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="clearfix"></div>
              {% bootstrap_paginate incomes url_param_name='incomes_page' %}
            </div>
            <div class="tab-pane fade" id="reinvestments" role="tabpanel" aria-labelledby="profile-tab">
              <div class="table-wrapper">
                <table class="table tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
                  <thead>
                    <tr>
                      <th>{% trans "Date" %}</th>
                      <th>{% trans "Prev investment" %}</th>
                      <th>{% trans "Reinvestment" %}</th>
                      <th>{% trans "Prev invested amount" %}</th>
                      <th>{% trans "Reinvested amount" %}</th>
                      <th>{% trans "Prev incomes" %}</th>
                      <th>{% trans "Upgrade membership fee" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in reinvestments %}
                    <tr>
                      <td>{{ item.created|date:"SHORT_DATE_FORMAT" }}</td>
                      <td>{{ item.old_invest.plan.name }} | {{ item.old_invest.grace_period.months }} {% trans "months" %}</td>
                      <td>{{ item.new_invest.plan.name }} | {{ item.new_invest.grace_period.months }} {% trans "months" %}</td>
                      <td>{{ item.amount_before }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{{ item.incomes }}</td>
                      <td>{{ item.membership_fee }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="clearfix"></div>
              {% bootstrap_paginate reinvestments url_param_name='reinvestments_page' %}
            </div>
            <div class="tab-pane fade" id="comissions" role="tabpanel" aria-labelledby="comissions-tab">
              <div class="table-wrapper">
                <table class="table tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
                  <thead>
                    <tr>
                      <th>{% trans "Date" %}</th>
                      <th>{% trans "Amount" %}</th>
                      <th>{% trans "Referral" %}</th>
                      <th>{% trans "Name" %}</th>
                      <th>{% trans "Plan" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in comissions %}
                    <tr>
                      <td>{{ item.created|date:"SHORT_DATE_FORMAT" }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{{ item.referral.user.username }}</td>
                      <td>{{ item.referral.user.first_name }} {{ item.referral.user.last_name }}</td>
                      <td>{{ item.investment.plan_grace_period.plan.name }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="clearfix"></div> 
              {% bootstrap_paginate comissions url_param_name='comissions_page' %}
            </div>
            <div class="tab-pane fade" id="withdrawals" role="tabpanel" aria-labelledby="withdrawals-tab">
              <div class="table-wrapper">
                <table class="table tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
                  <thead>
                    <tr>
                      <th>{% trans "Date" %}</th>
                      <th>{% trans "Amount" %}</th>
                      <th>{% trans "Description" %}</th>
                      <th>{% trans "Destination Address" %}</th>
                      <th>{% trans "TX ID" %}</th>
                      <th>{% trans "Account Type" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in crypto_withdraw %}
                    <tr>
                      <td>{{ item.created|date:"SHORT_DATE_FORMAT" }}</td>
                      <td>{{ item.amount }} BTC</td>
                      <td>{{ item.description|default_if_none:"N/A" }}</td>
                      <td>{{ item.address }}</td>
                      <td>{{ item.tx_id|default_if_none:"" }}</td>
                      <td>{% trans item.account.currency.type_title %}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

                <div class="clearfix"></div>
              {% bootstrap_paginate crypto_withdraw url_param_name='crypto_withdraw_page' %}
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>

      

{% endblock %}
