{% extends "core/index.html" %}

{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block page_title %}
    {% trans "Statement" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}


{% block head %}
	<style>
		.tx-12 {
			font-size: 12px;
		}
	</style>

  <link rel="stylesheet" href="{% static "css/statement.css" %}">
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="conteudo-1 col-12">
      {% include "back-button.html" with margin_top='0' %}

      <div class="box-2">
        <div class="item">
          <img src="{% static "img/credit-1.png" %}" alt="">
          <div>
            <p>{% trans "Total Withdraw" %}</p>
            <p><span>0.00000000</span></p>
          </div>
        </div>
        <div class="item">
          <img src="{% static "img/statement-4.png" %}" alt="">
          <div>
            <p>{% trans "Card Balance" %}</p>
            <p><span>0.00000000</span></p>
          </div>
        </div>
        <div class="item">
          <img src="{% static "img/statement-3.png" %}" alt="">
          <div>
            <p>{% trans "Total Invested" %}</p>
            <p><span>0.00000000</span></p>
          </div>
        </div>
        <div class="item">
          <img src="{% static "img/statement-2.png" %}" alt="">
          <div>
            <p>{% trans "Available Limit" %}</p>
            <p><span>0.00000000</span></p>
          </div>
        </div>
      </div>

      <div class="box-3">
        <div class="page-big-title">
          <h2 class="uppercase">{% trans "Statement" %}</h2>
          <p>{% trans "Here you can follow your checking and investment accounts movements." %}</p>
        </div>
      </div>
      <div class="box-4">
          <div class="table-wrapper">
            <table class="table tablesaw tablesaw-swipe" data-tablesaw-mode="swipe">
              <thead>
                <tr>
                  <th>{% trans "Date" %}</th>
                  <th>{% trans "Description" %}</th>
                  <th class="pink-th">{% trans "Amount" %}</th>
                  <th>{% trans "Currency" %}</th>
                  <th>{% trans "Account Type" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for item in statement %}
                <tr>
                  <td>{{ item.created|date:"SHORT_DATE_FORMAT" }}</td>
                  <td>{{ item.description }}</td>
                  <td class="grey-td">{{ item.amount }}</td>
                  <td>{% trans item.account.currency.symbol %}</td>
                  <td>{% trans item.account.currency.type_title %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>

      

{% endblock %}
