@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
header .back-menu {
    background-color: #0a2357;
    background-image: -webkit-gradient(linear, 90deg, from(#0950a0), to(#0a2357));
    background-image: -webkit-linear-gradient(90deg, #0950a0, #0a2357);
    background-image: -moz-linear-gradient(90deg, #0950a0, #0a2357);
    background-image: -ms-linear-gradient(90deg, #0950a0, #0a2357);
    background-image: -o-linear-gradient(90deg, #0950a0, #0a2357);
    background-image: linear-gradient(90deg, #0950a0, #0a2357);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle, StartColorStr='#0950a0', EndColorStr='#0a2357')
}

header .back-menu .logo {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center
}

header .back-menu .menu {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px
}

@media (min-width: 992px) {
    header .back-menu .menu {
        float: left;
        width: 50%
    }
}

header .back-menu .menu ul li {
    display: inline-block;
    margin-left: 10px
}

header .back-menu .menu ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    color: #fff;
    font-size: 15px
}

header .back-menu .menu ul li a span {
    margin-left: 10px;
    margin-right: 10px
}

header .back-menu .settings {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

header .back-menu .settings table tr td {
    vertical-align: middle;
}

header .back-menu .settings ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around
}

header .back-menu .settings ul li {
    display: inline-block;
    margin-left: 20px
}

header .back-menu .settings ul li a {
    color: #fff;
    font-weight: bold;
}

header .back-menu .settings ul li a span {
    margin-left: 10px;
    font-size: 13px
}

header .back-menu .settings ul li a .fa-angle-down {
    margin-left: 5px
}

main #item1 {
    display: none
}

main>.content-container {
    min-height: 710px;
}

main .box-nome {
    border-bottom: solid 1px #e2e2e2;
    min-height: 80px
}

main .box-nome .bread {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 30px
}

@media (max-width: 991px) {
    main .box-nome .bread {
        display: inline-block
    }

    main .box-nome .bread .box-1 {
        display: none !important;
    }
}

main .box-nome .bread .box-1 img {
    position: relative;
    top: 7px;
}

main .box-nome .bread .box-1 h1 {
    margin-top: -35px;
    color: #0950a0
}

main .box-nome .bread .box-1 h1 span {
    font-weight: bold
}

main .box-nome .bread .box-1 h3 {
    margin-right: 10px;
    color: #a7a7a7;
    font-size: 15px !important
}

@media (max-width: 991px) {
    main .box-nome .bread .box-1 img {
        width: 30px
    }
    main .box-nome .bread .box-1 h1 {
        font-size: 25px
    }
    main .box-nome .bread .box-1 h3 {
        font-size: 20px !important
    }
}

main .box-nome .bread .box-2 .imagem-1,
main .box-nome .bread .box-2 .imagem-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    border-radius: 3px;
    color: #fff;
    width: 350px;
    margin-right: 15px;
    margin-bottom: 30px
}

main .box-nome .bread .box-2 .imagem-1:hover,
main .box-nome .bread .box-2 .imagem-2:hover {
    position: relative;
    top: -5px;
}

main .box-nome .bread .box-2 .imagem-1 img,
main .box-nome .bread .box-2 .imagem-2 img {
    padding-right: 20px;
    width: 100px;
    height: auto
}

main .box-nome .bread .box-2 .imagem-1 .conteudo-botao,
main .box-nome .bread .box-2 .imagem-2 .conteudo-botao {
    text-align: center
}

main .box-nome .bread .box-2 .imagem-1 .conteudo-botao h2,
main .box-nome .bread .box-2 .imagem-2 .conteudo-botao h2 {
    font-size: 13px !important;
    margin-bottom: 8px
}

main .box-nome .bread .box-2 .imagem-1 .conteudo-botao h3,
main .box-nome .bread .box-2 .imagem-2 .conteudo-botao h3 {
    font-weight: bold;
    margin-bottom: 7px
}

main .box-nome .bread .box-2 .imagem-1 .conteudo-botao h4,
main .box-nome .bread .box-2 .imagem-2 .conteudo-botao h4 {
    font-weight: 300;
    font-size: 25px !important
}

main .box-nome .bread .box-2 .imagem-1 {
    background-color: #0b2254;
    background-image: -webkit-gradient(linear, 90deg, from(#0a50a0), to(#0b2254));
    background-image: -webkit-linear-gradient(90deg, #0a50a0, #0b2254);
    background-image: -moz-linear-gradient(90deg, #0a50a0, #0b2254);
    background-image: -ms-linear-gradient(90deg, #0a50a0, #0b2254);
    background-image: -o-linear-gradient(90deg, #0a50a0, #0b2254);
    background-image: linear-gradient(90deg, #0a50a0, #0b2254);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle, StartColorStr='#0a50a0', EndColorStr='#0b2254')
}

main .box-nome .bread .box-2 .imagem-2 {
    background-color: #ef2e88
}

@media (max-width: 768px) {
    main .box-nome .bread .box-2 .imagem-1,
    main .box-nome .bread .box-2 .imagem-2 {
        width: auto;
        padding-right: 5px
    }
    main .box-nome .bread .box-2 .imagem-1 img,
    main .box-nome .bread .box-2 .imagem-2 img {
        padding-right: 20px
    }
}

.text-white {
    color: #FFF;
}

.text-pink {
    color: #f05389;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-100 {
    margin-bottom: 100px;
}

.tx-size-20 {
    font-size: 20px;
}

.back-button {
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    color: #0a50a0;
}

.dropdown .dropdown-item {
    padding: 10px 15px;
}

.change-language-dropdown {
    margin-top: 37px;
}

.modal-content {
    background-color: #485e89;
    background-image: -webkit-gradient(linear, 90deg, from(#4a6699), to(#485e89));
    background-image: -webkit-linear-gradient(45deg, #0b2254, #0a50a0);
    background-image: -moz-linear-gradient(45deg, #0b2254, #0a50a0);
    background-image: -ms-linear-gradient(45deg, #0b2254, #0a50a0);
    background-image: -o-linear-gradient(45deg, #0b2254, #0a50a0);
    background-image: linear-gradient(45deg, #0b2254, #0a50a0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle, StartColorStr='#4a6699', EndColorStr='#485e89');
    border-radius: 3px;
    color: #fff;
    border-bottom: solid 7px #ef2e88;
}

.modal-content .modal-header {
    border-bottom: 0;
    text-align: center;
}

.modal-content .modal-header .modal-title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 15px;
}

.modal-content .modal-body p {
    line-height: 25px;
}

.modal-content .modal-footer {
    border: 0;
}

.modal-content .text-muted {
    color: #fff !important;
}

.modal-content .modal-header .close {
    color: #FFF;
    font-size: 30px;
    opacity: 1 !important;
}

.btn-pink {
    background-color: #ef2e88;
    color: #FFF;
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center
}

.btn-pink:hover {
    color: #FFF;
    background-color: #ca2672;
}

.btn-block {
    width: 100%;
}

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #a5a5a5;
    color: #FFF;
    padding: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}

.section-sub-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #696969;
}

.white-box {
    background-color: #fff;
    padding: 20px;
    border: solid 1px #a7a7a7;
    margin-bottom: 20px;
}

.paragraph {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

.table {
    border-collapse: separate;
    border-spacing: 10px;
    font-size: 13px;
}

.table thead tr th {
    background-color: #0a428a;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 3px;
    text-align: center;
    border: 0 !important;
    padding: 5px !important;
    min-width: 200px;
}

.table tbody tr td {
    border: solid 1px #0a428a !important;
    border-radius: 3px;
    text-align: center;
    padding: 5px !important;
}

.table thead tr th.pink-th {
    background-color: #ef2e88;
}

.table tbody tr td.grey-td {
    background-color: #bebebe;
    border: 0 !important;
    color: #FFF;
    font-weight: bold;
}

.table-wrapper {
    overflow-x: hidden;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -30px;
}

.tablesaw-advance {
    margin-right: 10px;
}

.uppercase {
    text-transform: uppercase;
}