main .back-menu-2 {
    border-bottom: solid 1px #a7a7a7
}

main .back-menu-2 ul li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px
}

main .back-menu-2 ul li a {
    color: #0a2357;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center
}

main .back-menu-2 ul li a span {
    margin-left: 7px
}

@media (max-width: 991px) {
    main .back-menu-2 {
        text-align: center
    }
    main .back-menu-2 ul li {
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
        display: table
    }
    main .back-menu-2 ul li a img {
        width: 25px
    }
    main .back-menu-2 ul li a span {
        font-size: 30px !important
    }
}

main .box-nome {
    border-bottom: solid 1px #e2e2e2;
    min-height: 80px
}

main .box-nome .bread {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 30px
}

@media (max-width: 991px) {
    main .box-nome .bread {
        display: inline-block
    }
}

main .box-nome .bread .box-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center
}

main .box-nome .bread .box-1 img {
    margin-right: 10px
}

main .box-nome .bread .box-1 h1 {
    margin-right: 10px;
    color: #0950a0
}

main .box-nome .bread .box-1 h1 span {
    font-weight: bold
}

main .box-nome .bread .box-1 h3 {
    margin-right: 10px;
    color: #a7a7a7;
    font-size: 15px !important
}

@media (max-width: 991px) {
    main .box-nome .bread .box-1 img {
        width: 30px
    }
    main .box-nome .bread .box-1 h1 {
        font-size: 25px
    }
    main .box-nome .bread .box-1 h3 {
        font-size: 20px !important
    }
}

@media (max-width: 991px) {
    main .box-nome .bread .box-2 {
        margin-top: 50px
    }
}

main .promoter .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px
}

main .promoter .title h2 {
    margin-right: 20px;
    color: #0a428a;
    font-weight: bold;
    font-size: 17px !important
}

main .promoter .title p {
    margin-right: 10px;
    color: #0a2357;
    font-size: 15px !important
}

@media (max-width: 991px) {
    main .promoter .title {
        margin-top: 70px;
        margin-bottom: 70px
    }
    main .promoter .title h2 {
        font-size: 30px !important
    }
    main .promoter .title p {
        font-size: 20px !important
    }
}

main .content,
main .content-2 {
    background-color: #f3f3f4
}

main .content .conteudo-1,
main .content-2 .conteudo-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 992px) {
    main .content .conteudo-1,
    main .content-2 .conteudo-1 {
        float: left;
        width: 66.66667%
    }
}

main .content .conteudo-1 .box-1 .texto-codigo,
main .content-2 .conteudo-1 .box-1 .texto-codigo {
    color: #0a2357
}

main .content .conteudo-1 .box-1 .texto-codigo .title,
main .content-2 .conteudo-1 .box-1 .texto-codigo .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 30px;
}

main .content .conteudo-1 .box-1 .texto-codigo h2,
main .content-2 .conteudo-1 .box-1 .texto-codigo h2 {
    font-size: 15px !important;
    line-height: 1.8;
    margin-bottom: 20px
}

main .content .conteudo-1 .box-1 .texto-codigo h2 span,
main .content-2 .conteudo-1 .box-1 .texto-codigo h2 span {
    font-weight: bold
}

main .content .conteudo-1 .box-1 .texto-codigo h3,
main .content-2 .conteudo-1 .box-1 .texto-codigo h3 {
    font-size: 15px !important;
    line-height: 1.5;
    background-color: #e3e3e3;
    margin-bottom: 5px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px
}

main .content .conteudo-1 .box-1 .texto-codigo h3 span,
main .content-2 .conteudo-1 .box-1 .texto-codigo h3 span {
    font-weight: bold
}

main .content .conteudo-1 .box-2 a,
main .content-2 .conteudo-1 .box-2 a {
    color: #fff;
    font-size: 13px !important
}

main .content .conteudo-1 .box-2 a h4,
main .content-2 .conteudo-1 .box-2 a h4 {
    background-color: #0a428a;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

main .content .conteudo-1 .box-2 a h4:hover,
main .content-2 .conteudo-1 .box-2 a h4:hover {
    background-color: #07264e;
}

main .content .conteudo-1 .box-2 a h5,
main .content-2 .conteudo-1 .box-2 a h5 {
    background-color: #ef2e88;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

main .content .conteudo-1 .box-2 a h5:hover,
main .content-2 .conteudo-1 .box-2 a h5:hover {
    background-color: #c72671;
}

@media (max-width: 991px) {
    main .content .conteudo-1 .box-2 a h4,
    main .content-2 .conteudo-1 .box-2 a h4 {
        margin-left: 10px;
        margin-right: 10px
    }
    main .content .conteudo-1 .box-2 a h5,
    main .content-2 .conteudo-1 .box-2 a h5 {
        margin-left: 10px;
        margin-right: 10px
    }
}

main .content .conteudo-1 .box-3 h4,
main .content-2 .conteudo-1 .box-3 h4 {
    color: #0a2357;
    font-weight: bold
}

main .content .conteudo-1 .box-3 .part-1,
main .content-2 .conteudo-1 .box-3 .part-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px
}

@media (min-width: 992px) {
    main .content .conteudo-1 .box-3 .part-1,
    main .content-2 .conteudo-1 .box-3 .part-1 {
        float: left;
        width: 50%
    }
}

main .content .conteudo-1 .box-3 .part-1 img,
main .content-2 .conteudo-1 .box-3 .part-1 img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-top: 20px
}

main .content .conteudo-1 .box-3 .part-2,
main .content-2 .conteudo-1 .box-3 .part-2 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 992px) {
    main .content .conteudo-1 .box-3 .part-2,
    main .content-2 .conteudo-1 .box-3 .part-2 {
        float: left;
        width: 50%
    }
}

main .content .conteudo-1 .box-3 .part-2 h4,
main .content-2 .conteudo-1 .box-3 .part-2 h4 {
    margin-bottom: 20px
}

main .content .conteudo-1 .box-3 .part-2 h3,
main .content-2 .conteudo-1 .box-3 .part-2 h3 {
    font-size: 15px !important;
    line-height: 1.5;
    background-color: #e3e3e3;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0a2357
}

main .content .conteudo-2 img,
main .content-2 .conteudo-2 img {
    margin-top: 50px;
    min-width: 100%;
}

.chart-investments-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}