{% extends "core/index.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Credit Line" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}

{% block head %}
    <style>
        .unselected {
            opacity: 0.2;
        }
    </style>
{% endblock %}


{% block content %}

    {% include "back-button.html" with margin_top='20px' %}

    <div class="page-big-title mb-0">
        <h2 class="uppercase"><i class="fas fa-hand-holding-usd"></i> {% trans "CREDIT LINE" %}</h2>
    </div>

    <p>{% trans "Select the credit mode that best fits with your profile" %}</p>

    <div class="row">
        <div class="col-md-6">
            <div class="white-box text-center">
                <h6 class="b text-blue"><i class="fas fa-hand-holding-usd"></i> {% trans "Loan" %}</h6>
                <p class="tx-14">{% trans "The Xfactor loan is ideal for you investor who is in need of money. Because we know that unforeseen happen." %}</p>
                <a href="{% url "investment>loan" %}" class="btn btn-pink b">{% trans "Go!" %}</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="white-box text-center">
                <h6 class="b text-blue"><i class="fas fa-hand-holding-usd"></i> {% trans "Overdraft" %}</h6>
                <p class="tx-14">{% trans "The Xfactor check is tailor-made to suit you investor who is in need of immediate cash. Count on our exclusive 20 day special interest check." %}</p>
                <a href="{% url "investment>overdraft" %}" class="btn btn-pink b">{% trans "Go!" %}</a>
            </div>
        </div>
    </div>


{% endblock %}