{% extends "core/index.html" %}
{% load static i18n %}

{% block page_title %}
    {% trans "Investment Plans" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor - Plans" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/investing-plan.css" %}">
{% endblock %}


{% block content %}

<div class="conteudo-1">
	<div class="plano-1">
		<div class="titulo">
			<img src="{% static "img/logo-4.png" %}">
			<h2>SAVINGS</h2>
		</div>
		<p><span>Min Down:</span> 0.0100000 BTC</p>
		<p><span>Max Down:</span> 0.0999999 BTC</p>
		<p><span>Membership fee:</span> 0.00035 BTC</p>
		<p class="no-border"><span>Allow Monthy Draw:</span> Yes</p>
		<h3>6 Months - 3% Monthly income</h3>
		<h3>12 Months - 4% Monthly income</h3>
		<h4>Read the details with attention</h4>
	</div>
	<div class="plano-2">
		<div class="titulo">
			<img src="{% static "img/logo-4.png" %}">
			<h2>MUTUAL FUNDS</h2>
		</div>
		<p><span>Min Down:</span> 0.0100000 BTC</p>
		<p><span>Max Down:</span> 0.0999999 BTC</p>
		<p><span>Membership fee:</span> 0.00035 BTC</p>
		<p class="no-border"><span>Allow Monthy Draw:</span> Yes</p>
		<h3>6 Months - 3% Monthly income</h3>
		<h3>12 Months - 4% Monthly income</h3>
		<h4>Read the details with attention</h4>
	</div>
	<div class="plano-3">
		<div class="titulo">
			<img src="{% static "img/logo-4.png" %}">
			<h2>STOCKS</h2>
		</div>
		<p><span>Min Down:</span> 0.0100000 BTC</p>
		<p><span>Max Down:</span> 0.0999999 BTC</p>
		<p><span>Membership fee:</span> 0.00035 BTC</p>
		<p class="no-border"><span>Allow Monthy Draw:</span> Yes</p>
		<h3>6 Months - 3% Monthly income</h3>
		<h3>12 Months - 4% Monthly income</h3>
		<h4>Read the details with attention</h4>
	</div>
	<div class="plano-4">
		<div class="titulo">
			<img src="{% static "img/logo-4.png" %}">
			<h2>STOCKS</h2>
		</div>
		<p><span>Min Down:</span> 0.0100000 BTC</p>
		<p><span>Max Down:</span> 0.0999999 BTC</p>
		<p><span>Membership fee:</span> 0.00035 BTC</p>
		<p class="no-border"><span>Allow Monthy Draw:</span> Yes</p>
		<h3>6 Months - 3% Monthly income</h3>
		<h3>12 Months - 4% Monthly income</h3>
		<h4>Read the details with attention</h4>
	</div>
</div>


{% endblock %}