{% extends "core/index.html" %}
{% load static i18n %}

{% block page_title %}
    {% trans "Investment Plans" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor - Plans" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/investing-plan.css" %}">
{% endblock %}


{% block content %}


<div class="conteudo-1">
	<h2 class="section-title">1 - {% trans "Select your plan" %}</h2>

	<div class="row">
		{% for plan in plans %}
			<div class="col-md-3">
					<div class="plano plano-{{ forloop.counter }} unselected" data-toggle="tooltip" data-placement="bottom" title="{% trans "Select this one" %}">
					<div class="titulo">
						<h2 class="text-center"><i class="fas fa-trophy"></i> {{ plan.name }}</h2>
					</div>
					<p><span>{% trans "Min down" %}:</span> {{ plan.min_down|floatformat:2 }} BTC</p>
					<p><span>{% trans "Max down" %}:</span> {{ plan.max_down|floatformat:2 }} BTC</p>
					<p><span>{% trans "Subscription" %}:</span> {{ plan.membership_fee|floatformat:4 }} BTC</p>
					<p><span>{% trans "Min reinvest" %}:</span> {{ plan.min_reinvest|floatformat:2 }} BTC</p>
					<p class="no-border"><span>{% trans "Allow monthly withdraw" %}:</span> {% if plan.allow_monthly_draw %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</p>
				</div>
			</div>
		{% endfor %}
	</div>

	<h2 class="section-title">2 - {% trans "Start your investment" %}</h2>

	<div class="row mb-100">
		<div class="col-md-6">
			<div class="white-box">
				<h3 class="section-sub-title"><i class="fas fa-calendar-alt"></i> {% trans "Grace Period" %}</h3>
				<p class="paragraph">{% trans "Choose your plan grace period for this plan" %}</p>
				<ul class="list-group">
				  <li class="list-group-item"><label><input type="radio"> 6 meses com minimo de 3% ao mes</label></li>
				  <li class="list-group-item"><label><input type="radio"> 12 meses com minimo de 4% ao mes</label></li>
				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<div class="white-box">
				<h3 class="section-sub-title"><i class="fas fa-check"></i> {% trans "Select the desired grace period" %}</h3>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="{% trans "Desired BTC amount to be invested" %}">
				</div>

				<a class="btn btn-pink btn-block" href=""><strong><i class="fas fa-play"></i> {% trans "START INVESTMENT" %}</strong></a>
			</div>
		</div>
	</div>
</div>


{% endblock %}