{% extends "core/index.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans "My Card" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}

{% block head %}
    <style>
        #boleto-svg svg {
            max-height: 40px;
        }
    </style>

    <link rel="stylesheet" href="{% static "css/cartao.css" %}">
{% endblock %}

{% block content %}

	<div class="row">
		<div class="conteudo-1 col-md-8">
			{% include "back-button.html" with margin_top='0' %}

			<div class="alert alert-danger text-center" style="font-size: 18px;">
				<strong class="tx-14">{% trans "Request your Xfactor card to access this feature" %}:</strong>&nbsp;&nbsp; <a href="{% url "xfactor>request-card" %}" class="tx-14">{% trans "Request card" %}</a>
			</div>

			<div class="box-1">
				<h2>{% trans "MY CARD" %}</h2>
				<p>{% trans "This is yours card. You can add money in it when you need. The amount will be discount from your checking account" %}</p>
			</div>
			<div class="box-2">
				<img src="{% static "img/cards/01.png" %}" class="img-fluid" width="300" alt="">
				<div class="saldo">
					<h3><i class="fas fa-money-check-alt"></i> 0,00</h3>
					<p>{% trans "Available for use" %}:</p>
				</div>
			</div>
			<div class="box-3">
				<h2>{% trans "NEW RECHARGE" %}</h2>
				<form action="">
					<input type="text" placeholder="{% trans "Amount local currency" %}">
					<input type="text" disabled="disabled" placeholder="{% trans "Amount BTC" %}"><br>
					<input type="password" placeholder="{% trans "Password" %}">
					<input type="text" placeholder="{% trans "Two Factor Code" %}">
					<div class="enviar">
						<a href="#" class="btn btn-pink btn-round">{% trans "Recharge" %}</a>
						<h3><span>{% trans "Card balance" %}</span> 0,00</h3>
					</div>
				</form>
			</div>
			<div class="box-4">
				<h2>{% trans "RECHARGES" %}</h2>

				<div class="table-wrapper">
					<table class="table">
						<thead>
							<tr>
								<th>{% trans "Date" %}</th>
								<th>{% trans "Amount local currency" %}</th>
								<th>{% trans "Amount BTC" %}</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

		<div class="conteudo-2 col-md-4">
			{% get_current_language as LANGUAGE_CODE %}
            {% with "img/1_"|add:LANGUAGE_CODE|add:'.png' as banner_url %}
                <img src="{% static banner_url %}" alt="">
            {% endwith %}
		</div>
	</div>


{% endblock %}