{% extends "core/index.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
    {% trans "Request <span>Card</span>" %}
{% endblock %}

{% block page_subtitle %}
    {% trans "Xfactor" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/carreira.css" %}">
    <style>
    	.card-sub-title {
    		font-size: 16px !important;
    		line-height: 25px;
    		margin-top: 10px;
            margin-bottom: 60px;
    		color: #fff;
            -webkit-background-size: cover;
            background-size: cover;
    	}

        .content {
            background-image: url("{% static "img/fundo-login.jpg" %}");
            -webkit-background-size: cover;
            background-size: cover;
        }

        .plan-title {
            text-align: center;
            color: #FFF;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 15px;
        }
    </style>
{% endblock %}

{% block content %} 
    {% include "card-modal.html" %}
    

    <div class="container">
        <div class="investment">
            {% include "back-button.html" with color='#FFF' %}

            <h2><strong>{% trans "REQUEST YOUR CARD" %}</strong></h2>
            <p class="text-center card-sub-title">{% trans "Here on Xfactor, you have a card for each type of investment" %}</p>

            <div class="row" style="margin-bottom: 40px;">
                <div class="col-md-3">
                    <h4 class="plan-title">SAVINGS</h4>
                    <img src="{% static "img/cards/04.png" %}" class="img-fluid">
                </div>
                <div class="col-md-3">
                    <h4 class="plan-title">MUTUAL FUNDS</h4>
                    <img src="{% static "img/cards/01.png" %}" class="img-fluid">
                </div>
                <div class="col-md-3">
                    <h4 class="plan-title">STOCKS</h4>
                    <img src="{% static "img/cards/02.png" %}" class="img-fluid">
                </div>
                <div class="col-md-3">
                    <h4 class="plan-title">BOND MARKET</h4>
                    <img src="{% static "img/cards/03.png" %}" class="img-fluid">
                </div>
            </div>

            <!-- Plano-1 -->

            <div class="row">
                <div class="col-md-4">
                    <div class="investment-1">
                        <h2><strong>INVESTMENT</strong> PROMOTER</h2>
                        <div class="box">
                            <h3>PLANS</h3>

                            <div class="comission">
                                <a class="saving">SAVINGS</a>
                                <h4>&nbsp; 2% &nbsp;</h4>
                                <img src="{% static "img/invest-1.png" %}" alt="">
                                <h5>Comission</h5>
                            </div>
                            <div class="comission">
                                <a class="mutual">MUTUAL FUNDS</a>
                                <h4>&nbsp; 3% &nbsp;</h4>
                                <img src="{% static "img/invest-1.png" %}" alt="">
                                <h5>Comission</h5>
                            </div>
                            <div class="comission">
                                <a class="stocks">STOCKS</a>
                                <h4>&nbsp; 5% &nbsp;</h4>
                                <img src="{% static "img/invest-1.png" %}" alt="">
                                <h5>Comission</h5>
                            </div>
                            <div class="comission">
                                <a class="market">BOND MARKET</a>
                                <h4>&nbsp; 6% &nbsp;</h4>
                                <img src="{% static "img/invest-1.png" %}" alt="">
                                <h5>Comission</h5>
                            </div>

                            <h3><span>BENEFITS</span></h3>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-2.png" %}" alt="">
                                    <h5>Credit Card</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/nao.jpg" %}" alt="">
                                    <p>Não</p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-3.png" %}" alt="">
                                    <h5>Online Payment</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/nao.jpg" %}" alt="">
                                    <p>Não</p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-4.png" %}" alt="">
                                    <h5>Bitcoin Monetization</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/nao.jpg" %}" alt="">
                                    <p>Não</p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-5.png" %}" alt="">
                                    <h5>Web Wallet</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-6.png" %}" alt="">
                                    <h5>Loan</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-7.png" %}" alt="">
                                    <h5>Credit Limit</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                        </div>

                        <div id="request-card-app">
                            <a href="#" class="btn btn-block btn-pink" data-toggle="modal" data-target="#card-modal">{% trans "Upgrade Now" %}</a>
                        </div>
                    </div>
                </div>

            <!-- Plano-2 -->

               <div class="col-md-4">
                    <div class="investment-1">
                        <h2><strong>INVESTMENT</strong> ADVISOR</h2>
                        <div class="box">
                            <h3>PLANS</h3>

                            <div class="comission">
                                <a class="saving">SAVINGS</a>
                                <h4>&nbsp; 5% &nbsp;</h4>
                                <img src="{% static "img/invest-1.png" %}" alt="">
                                <h5>Comission</h5>
                            </div>
                            <div class="comission">
                                <a class="mutual">MUTUAL FUNDS</a>
                                <h4>&nbsp; 6% &nbsp;</h4>
                                <img src="{% static "img/invest-1.png" %}" alt="">
                                <h5>Comission</h5>
                            </div>
                            <div class="comission">
                                <a class="stocks">STOCKS</a>
                                <h4>&nbsp; 8% &nbsp;</h4>
                                <img src="{% static "img/invest-1.png" %}" alt="">
                                <h5>Comission</h5>
                            </div>
                            <div class="comission">
                                <a class="market">BOND MARKET</a>
                                <h4>&nbsp; 9% &nbsp;</h4>
                                <img src="{% static "img/invest-1.png" %}" alt="">
                                <h5>Comission</h5>
                            </div>

                            <h3><span>BENEFITS</span></h3>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-2.png" %}" alt="">
                                    <h5>Credit Card</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-3.png" %}" alt="">
                                    <h5>Online Payment</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-4.png" %}" alt="">
                                    <h5>Bitcoin Monetization</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-5.png" %}" alt="">
                                    <h5>Web Wallet</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-6.png" %}" alt="">
                                    <h5>Loan</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                            <div class="comission-2">
                                <div class="part-1">
                                    <img src="{% static "img/invest-7.png" %}" alt="">
                                    <h5>Credit Limit</h5>
                                </div>

                                <div class="part-2">
                                    <img src="{% static "img/sim.jpg" %}" alt="">
                                    <p><span>Sim</span></p>
                                </div>
                            </div>

                        </div>
                        <div id="request-card-app">
                            <a href="#" class="btn btn-block btn-pink" data-toggle="modal" data-target="#card-modal">{% trans "Request Card" %}</a>
                        </div>
                    </div>
               </div>

                <!-- Plano-3 -->

                <div class="col-md-4">
                    <div class="investment-1">
                        <h2>{% trans "<strong>ADVISOR</strong> COURSE" %}</h2>
                        <div class="box-breve">
                            <img src="{% static "img/clock.png" %}" alt="">
                            <h2><strong>Coming</strong><br>Soon</h2>
                        </div>

                        <div id="request-card-app">
                            <a href="#" class="btn btn-block btn-pink" data-toggle="modal" data-target="#card-modal">{% trans "Sign me up" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}