{% load static %}
{% load i18n l10n %}
{% load thumbnail %}
{% load lang %}
{% load exchange %}
{% load mathfilters %}
{% load humanize %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1">
    <title>Account Xfactor</title>
    <link rel="icon" type="image/png" href="https://www.xfactor.cash/img/favi.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/geral.css" %}">
    <link rel="stylesheet" href="{% static "css/cotacao.css" %}">
    <link rel="stylesheet" href="{% static "css/plugins.css" %}">
        <script>
function mostra(theId){
var theArray= new Array('item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7', 'item8');
w=document.getElementById(theId)
if(w.style.display=="block"){w.style.display='none';}else{ 

 
 
       for(i=0; i<theArray.length; i++){
            if(theArray[i] == theId){
                w.style.display='block';
            }else{
                document.getElementById(theArray[i]).style.display='none';
            }
      }
      }
      
}
</script>
</head>
<body style="background-color: #FFF;">
    
            <header>
        <div class="back-menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <img src="{% static "img/logo.png" %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <div class="container">
                <div class="conteudo-1">
                    <h1>{% trans "BITCOIN QUOTE" %}</h1>
                    <div class="cotacao">
                        <div class="real">
                            <div class="valor">
                                <img src="{% static "img/bit-rosa.png" %}" alt="">
                                <h2>R$ {{ btc_br_price|floatformat:2|intcomma }}</h2>
                            </div>
                            <p>{% trans "Bitcoin/REAL quote" %} | <span><a href="https://bitvalor.com/" target="_blank">Bitvalor</a></span></p>
                        </div>
                        <div class="dolar">
                            <div class="valor">
                                <img src="{% static "img/bit-rosa.png" %}" alt="">
                                <h2>$ {{ btc_usd_price|floatformat:2|intcomma }}</h2>
                            </div>
                            <p>{% trans "Bitcoin/Dollar quote" %} | <span><a href="https://coinmarketcap.com/" target="_blank">CoinMarketCap</a></span></p>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>

        <div class="conteudo-2">
            <div class="investimentos">
                <div class="conta-1">
                    <h2>{% trans "Checking <br>Account" %}</h2>
                    <h3>$ {{ checking_account_usd_price|floatformat:2|intcomma }}</h3>
                    <h4>R$ {{ checking_account_br_price|floatformat:2|intcomma }}</h4>
                    <h5>{{ checking_account.balance }} BTC</h5>
                    <a href="{% url "xfactor>checking" %}">{% trans "Enter" %}</a>
                </div>
                <div class="conta-2">
                    <h2>{% trans "Investments <br>Account" %}</h2>
                    <h3>$ {{ investments_account_usd_price|floatformat:2|intcomma }}</h3>
                    <h4>R$ {{ investments_account_br_price|floatformat:2|intcomma }}</h4>
                    <h5>{{ investments_account.balance }} BTC</h5>
                    <a href="{% url "xfactor>investment" %}">{% trans "Enter" %}</a>
                </div>
            </div>
        </div>

    </main>

    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/slick-carousel/slick/slick.min.js" %}"></script>
    <script src="{% static "bower_components/font-awesome/svg-with-js/js/fontawesome-all.js" %}"></script>

</body>
</html>