{% extends "account/base.html" %}

{% load i18n thumbnail %}

{% block body %}

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">

       <div class="row">
           <div class="col-md-12">
                <div class="account-bg">
                    <div class="card-box mb-0">
                        <div class="m-t-10 p-20">
                           <form method="POST" novalidate>
                                {% csrf_token %}


                                {% if promoter.username == 'xfactor' %}
                                    <p class="text-center" style="margin-bottom: 20px !important;">
                                        <img class="img-fluid" src="https://accounts.xfactor.cash/static/img/logo-login.a2a21fb36f21.png">
                                    </p>
                                {% endif %}

                                <h2 class="text-center mb-30 uppercase" style="font-size: 16px !important; font-weight: bold;">{% trans "Open Account" %}</h2>

                                {% if promoter.username != 'business' and promoter.username != 'leoschew' and promoter.username != 'leonardoschew' and promoter.username != 'xfactor' %}
                                <p class="text-center">
                                        {% if not promoter.avatar %}
                                            <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid rounded-circle" width="100" alt="">
                                        {% else %}
                                            <img src="{% thumbnail promoter.avatar 100x100 crop %}" class="rounded-circle">
                                        {% endif %}<br><br>

                                        {% trans "Your investment promoter is" %}<br>
                                        <strong style="font-size: 20px;">{{ promoter.first_name }} - {{ promoter.username }}</strong>
                                </p>

                                <hr>
                                {% endif %}

                                {% for field in form %}
                                    <div class="form-group">
                                        {% if field.name == 'terms' %}
                                            <label>{{ field }} {{ field.label|safe }}</label>

                                            {% if field.errors %}
                                                <ul class="parsley-errors-list filled">
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% elif field.is_hidden %}
                                            {{ field }}
                                        {% else %}
                                            {% include "core/forms/field.html" with field=field %}
                                        {% endif %}
                                    </div>
                                {% endfor %}


                                <div class="form-group text-center row m-t-10">
                                    <div class="col-12">
                                        <button class="btn btn-success btn-block waves-effect waves-light" type="submit">{% trans "Sign Up" %}</button>
                                    </div>
                                </div>
                           </form>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end card-box-->
           </div>
       </div>
    </div>
    <!-- end wrapper page -->

{% endblock %}

{% block footer %}
    <div class="mt-20 mb-100">
        <div class="text-center">
            <p class="text-white">{% trans "Already have an account?" %} <a href="{% url "two_factor:login" %}" class="text-white m-l-5"><b>{% trans "Log In" %}</b></a></p>
        </div>
    </div>

    <div class="clearfix"></div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script>
        $(document).ready(function() {
            var confirm_email = $('#id_confirm_email');

            confirm_email.bind('cut copy paste', function (e) {
                e.preventDefault();
            });

            confirm_email.on("contextmenu",function(e) {
                e.preventDefault();
            });
        });
    </script>
{% endblock %}