{% extends "account/base.html" %}

{% load i18n %}

{% block body %}

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page" style="max-width: 450px;">

        <div class="account-bg">
            <div class="card-box mb-0">
                <div class="text-center m-t-20">
                    <a class="logo">
                        <i class="zmdi zmdi-group-work icon-c-logo"></i>
                        <span>{{ PROJECT_NAME }}</span>
                    </a>
                </div>
                <div class="m-t-10 p-20">
                   <form method="POST" novalidate>
                        {% csrf_token %}
                        
                        <p class="text-center">
                            {% trans "Your investment promoter is" %}<br>
                            <strong style="font-size: 20px;">{{ promoter.first_name }} - {{ promoter.username }}</strong>
                        </p>
                        <hr>

                        {% for field in form %}
                            {% if field.name == 'terms' %}
                                <label>{{ field }} {{ field.label }}</label>

                                {% if field.errors %}
                                    <ul class="parsley-errors-list filled">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% else %}
                                {% include "core/forms/field.html" with field=field %}
                            {% endif %}
                        {% endfor %}
                        

                        <div class="form-group text-center row m-t-10">
                            <div class="col-12">
                                <button class="btn btn-success btn-block waves-effect waves-light" type="submit">{% trans "Sign Up" %}</button>
                            </div>
                        </div>
                   </form>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end card-box-->

        <div class="m-t-20">
            <div class="text-center">
                <p class="text-white">{% trans "Already have an account?" %} <a href="{% url "two_factor:login" %}" class="text-white m-l-5"><b>{% trans "Log In" %}</b></a></p>
            </div>
        </div>

    </div>
    <!-- end wrapper page -->

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script>
        $(document).ready(function() {
            var confirm_email = $('#id_confirm_email');

            confirm_email.bind('cut copy paste', function (e) {
                e.preventDefault();
            });

            confirm_email.on("contextmenu",function(e) {
                e.preventDefault();
            });
        });
    </script>
{% endblock %}