{% extends "core/index.html" %}

{% load i18n %}

{% block content %}

    <h6 class="page-title"><i class="zmdi zmdi-accounts"></i> {% trans "Comissions" %}</h6>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card-box tilebox-one">
                <i class="icon-anchor float-right text-muted"></i>
                <h6 class="text-muted text-uppercase m-b-20">{% trans "Indication Link" %}</h6>
                <h4 class="m-b-20" data-plugin="counterup"><a href="http://{{ settings.DOMAIN }}/{{ settings.SPONSORSHIP_URL_PREFIX }}{{ request.user.username }}" target="_blank">{{ settings.DOMAIN }}/{{ settings.SPONSORSHIP_URL_PREFIX }}{{ request.user.username }}</a></h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card-box tilebox-one">
                <i class="icon-user float-right text-muted"></i>
                <h6 class="text-muted text-uppercase m-b-20">{% trans "Indicated Quantity" %}</h6>
                <h4 class="m-b-20" data-plugin="counterup">{{ customers|length }}</h4>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card-box tilebox-one">
                <i class="icon-chart float-right text-muted"></i>
                <h6 class="text-muted text-uppercase m-b-20">{% trans "Total Earnings" %}</h6>
                <h4 class="m-b-20" data-plugin="counterup">R$ 0,00</h4>
            </div>
        </div>
    </div>

   <h6 class="page-title"><i class="zmdi zmdi-chart"></i> {% trans "Dashboard" %}</h6>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="icon-chart"></i> {% trans "Earnings Chart" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-people"></i> {% trans "My Customers" %}</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <canvas id="myChart" width="400" height="120"></canvas>
            
        </div>
    </div>


{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
    jQuery(function($) {
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: 'Earnings of day',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    });
</script>
{% endblock %}