{% extends "account/base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block body %}

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">

        <div class="account-bg">
            <div class="card-box mb-0">
                <div class="text-center m-t-20">
                    <a class="logo">
                        <i class="zmdi zmdi-group-work icon-c-logo"></i>
                        <span>{{ PROJECT_NAME }}</span>
                    </a>
                </div>
                <div class="m-t-10 p-20">
                    <p class="text-center">{% trans "Your sponsor is:" %}</p>
                    <h4 class="text-center m-b-20">
                        {% if sponsor.avatar %}
                            <div>
                                <img src="{% thumbnail sponsor.avatar 100x100 crop %}" class="rounded-circle">
                            </div>
                        {% endif %}

                        {{ sponsor.first_name }} {{ sponsor.last_name }}<br>
                        {{ sponsor.email }}
                    </h4>

                    {% include "account/signup-form.html" with form=form %}
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end card-box-->

        <div class="m-t-20">
            <div class="text-center">
                <p class="text-white">{% trans "Already have an account?" %} <a href="{% url "two_factor:login" %}" class="text-white m-l-5"><b>{% trans "Log In" %}</b></a></p>
            </div>
        </div>

    </div>
    <!-- end wrapper page -->

{% endblock %}