{% load static %}
{% load i18n %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">

        <!-- App title -->
        <title>{{ PROJECT_NAME }}</title>

        <!-- Bootstrap CSS -->
        <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />

        <!-- App CSS -->
        <link href="{% static "assets/css/style.css" %}" rel="stylesheet" type="text/css" />

        <!-- Modernizr js -->
        <script src="{% static "assets/js/modernizr.min.js" %}"></script>

    </head>


    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            {% if messages %}
                <div class="messages m-t-20">
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

        	<div class="account-bg">
                <div class="card-box mb-0">
                    <div class="text-center m-t-20">
                        <a class="logo">
                            <i class="zmdi zmdi-group-work icon-c-logo"></i>
                            <span>{{ PROJECT_NAME }}</span>
                        </a>
                    </div>
                    <div class="m-t-10 p-20">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h6 class="text-muted text-uppercase m-b-0 m-t-0">{% trans "Log In" %}</h6>
                            </div>
                        </div>
                        <form class="m-t-20" method="POST">
                            {{ wizard.management_form }}
                            {% csrf_token %}
    
                            {% with WIDGET_ERROR_CLASS='parsley-error' %}
                                {% for field in form %}
                                <div class="form-group row">
                                    <div class="col-12">
                                        {% render_field field class="form-control" placeholder=field.label %}
                                        {% if field.errors %}
                                            <ul class="parsley-errors-list filled">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            {% endwith %}

                            <div class="form-group text-center row m-t-10">
                                <div class="col-12">
                                    <button class="btn btn-success btn-block waves-effect waves-light" type="submit">{% trans "Log In" %}</button>
                                </div>
                            </div>

                            <div class="form-group row m-t-30 mb-0">
                                <div class="col-12">
                                    <a href="{% url "core>reset-password" %}" class="text-muted"><i class="fa fa-lock m-r-5"></i> {% trans "Forgot your password?" %}</a>
                                </div>
                            </div>

                        </form>

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end card-box-->

            <div class="m-t-20">
                <div class="text-center">
                    <p class="text-white">{% trans "Don't have an account?" %} <a href="{% url "core>signup" %}" class="text-white m-l-5"><b>{% trans "Sign Up" %}</b></a></p>
                </div>
            </div>

        </div>
        <!-- end wrapper page -->
    </body>
</html>