{% load static i18n widget_tweaks lang %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=100%, initial-scale=1">
	<title>Account Xfactor</title>

	<link rel="icon" type="image/png" href="https://www.xfactor.cash/img/favi.png" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/geral.css" %}">
	<link rel="stylesheet" href="{% static "css/login.css" %}">
	<link rel="stylesheet" href="{% static "css/plugins.css" %}">
	<link rel="icon" type="image/png" href="https://www.xfactor.cash/img/favi.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.min.css" rel="stylesheet" type="text/css" />
		<script>
function mostra(theId){
var theArray= new Array('item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7', 'item8');
w=document.getElementById(theId)
if(w.style.display=="block"){w.style.display='none';}else{ 

 
 
	   for(i=0; i<theArray.length; i++){
			if(theArray[i] == theId){
				w.style.display='block';
			}else{
				document.getElementById(theArray[i]).style.display='none';
			}
	  }
	  }
	  
}
</script>
</head>
<body>
	<div class="container">
		<div class="menu row">
			<div class="col-md-6 logo">
				<img src="{% static "img/logo-login.png" %}" alt="">
			</div>
            <div class="col-md-4">
                <div class="dropdown show float-right">
                  <a class="btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% get_current_language as LANGUAGE_CODE %}
                    <span class="flag-icon {{ LANGUAGE_CODE|language_css_class }}"></span>
                  </a>

                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}

                  <div class="dropdown-menu">
                    <div id="change-language-app">
                        <form action="{% url 'set_language' %}" method="post" id="change-language-form">{% csrf_token %}
                            <input type="hidden" name="language" v-model="language">
                            {% for language in languages %}
                            <a href="#" @click.prevent="set_language('{{ language.code }}')" class="dropdown-item tx-14">
                                <span class="flag-icon {{ language.code|language_css_class }}"></span>
                                {{ language.name_local }}
                            </a>
                            {% endfor %}
                        </form>
                    </div>
                  </div>
                </div>
            </div>
			<div class="voltar col-md-2 text-right">
				<a href="http://xfactor.cash">{% trans "Back to site" %}</a>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="clearfix"></div>
			{% if messages %}
                <div class="messages m-t-20">
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

			<div class="clearfix"></div>

			<div class="login">
				<img src="{% static "img/logo-login.png" %}" alt="">
				<h2>{% trans "Login in, to access your back office" %}</h2>
				<form method="POST">
					{{ wizard.management_form }}
                    {% csrf_token %}

					<div class="user">
					{% with WIDGET_ERROR_CLASS='parsley-error' %}
                        {% for field in form %}
                            {% render_field field class="form-control" placeholder=field.label %}
                            {% if field.errors %}
                                <ul class="parsley-errors-list filled">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    </div>
					
					<button type="submit">{% trans "Log in" %}</button>
				</form>
				<p><a href="{% url "core>reset-password" %}">{% trans "Forgot your password?" %}</a></p>
			</div>
			<p class="text-center text-white mt-20 tx-14">{% trans "Don't have an account?" %} <a href="{% url "investment>signup" %}?promoter=xfactor" class="text-white m-l-5"><b class="text-pink">{% trans "Open Account" %}</b></a></p>
		</div>
	</div>

    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "bower_components/font-awesome/svg-with-js/js/fontawesome-all.js" %}"></script>
    {% include "core/scripts.html" %}
</body>
</html>